.custom {
  --match-width: 400px;
  --text-size: 1.5rem;
  --round-margin: 4.5rem;

  h1:first-child {
    display: none;
  }

  img {
    display: inline;
  }

  padding: 1.25rem;
  border-radius: 0.75rem;
  margin-top: 4.875rem;

  h3 {
    border-radius: calc(1.25rem - 0.75rem);
  }

  .opponents {
    @apply space-y-[.3125rem];
    border: none;
    background: transparent;
    overflow: clip;
    &:hover {
      border: none;
    }
    .win {
      box-shadow: 0rem 0.06rem 0.75rem -0.25rem rgba(255, 255, 255, 0.25);
    }
    .loss {
      box-shadow: inset 0rem 0rem 1.56rem 0.31rem rgba(0, 0, 0, 0.25);
      opacity: 0.5;
    }
    .participant {
      .name {
        font-size: 1.5rem;
      }
      .result {
        color: white;
        font-weight: 900;
        font-size: 1rem;
      }
    }
  }
}
