@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
.container {
  overflow: hidden;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  color: #fff;
}

/* Add arrow styles */
.arrow-line-vertical {
  position: absolute;
  width: 2px;
  background-color: white;
}

.arrow-line-horizontal {
  position: absolute;
  height: 2px;
  background-color: white;
}
